<html lang="en">
    <head>
        <title>Forgot Password</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    </head>

    <body>
        <div style="background-image: linear-gradient(5deg, #3e5364 5%, #8197bd 100%);">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center flex-column" style="height: 100vh;">
                    <h1 class="h4 mb-4 text-center">Forgot Password</h1>
                    <div class="card shadow" style="width: 24rem;">
                        <div class="card-body py-4">
                            <form autocomplete="off" method="post" action="http://localhost:5000/user/setpassword">
                                <div class="form-group">
                                    <label for="auth">New Password</label>
                                    <input type="password" class="form-control" id="auth" name="newpass" />
                                </div>
                                <input type="hidden" id="token" name="resetcode" value="" />
                                <button type="submit" class="btn btn-block btn-secondary" id="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            try {
                // Fetch parameter from URL
                function $_GET(name, uri = window.location.href) {
                    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                    const regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
                    const results = regex.exec(uri);
                    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
                }

                // Add GET param to POST from
                document.querySelector("#token").value = $_GET("resetcode") || "";

                jQuery(document).ready(function ($) {
                    // Submit Form
                    $("form").on("submit", function (e) {
                        e.preventDefault();
                        $this = $(this);

                        $.post(
                            $this.attr("action"),
                            $this.serialize(),
                            function (data) {
                                $msg = $("<b/>").css('color', data.status == 200 ? 'darkgreen' : 'crimson').text(data.message);
                                $this.before($msg);
                                $this.remove();
                            },
                            "json"
                        );
                    });
                });
            } catch (error) {
                console.error(error);
            }
        </script>
    </body>
</html>
