<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    </head>
    <body>
        <div class="trot_driverpdf" style="font-family: 'Poppins', sans-serif; width: 600px; margin: 0px auto; overflow: hidden; padding: 30px 0;">
            <div class="logo" style="width: 110px; height: 110px; overflow: hidden;">
                <figure style="width: 100%; height: 100%; margin: 0px;">
                    <img src="images/trotdrive.png" alt="trotdrive" style="object-fit: cover; width: 100%; height: 100%;" />
                </figure>
            </div>
            <!-----start content class start-->
            <div class="invoce_content" style="padding: 25px;">
                <div class="invoice_text">
                    <h2 style="margin: 0px; border: 1px solid #000; text-align: center; text-transform: uppercase; font-weight: 600; font-size: 25px; line-height: 43px;">
                        invoice
                    </h2>
                </div>
                <!----start addres section-->
                <div class="trtdri_address" style="margin-top: 10px;">
                    <address>
                        <p style="color: #000; font-weight: 500; font-style: normal; font-size: 16px; margin: 0px;">
                            Invoice To
                        </p>
                        <p style="color: #000; font-weight: 500; font-style: normal; font-size: 16px; margin: 0px;">
                            <u>jaafar bhai's Briyani</u>
                        </p>
                        <p style="color: #000; font-weight: 500; font-style: normal; font-size: 16px; margin: 0px;">Dubai - <span>UAE</span></p>
                        <p style="color: #000; font-weight: 500; font-style: normal; font-size: 16px; margin: 0px;">Contact #<span>123456</span></p>
                        <p style="color: #000; font-weight: 500; font-style: normal; font-size: 16px; margin: 0px;">Email: <span style="font-weight: 300;">demo@.com</span></p>
                    </address>
                </div>
                <!-----end address section-->
                <!----start trot table section main class-->
                <section class="table_outer">
                    <!---start date box-->
                    <div class="date_time" style="text-align: center;">
                        <div class="date_bx" style="display: flex; align-items: center; justify-content: flex-end;">
                            <p style="margin: 0px; font-size: 18px; font-weight: 500; color: #000; width: 50%; text-align: right;">
                                Date:-
                            </p>
                            <span style="margin: 0px; width: 26%; text-align: right;">10-August-20</span>
                        </div>
                        <div class="date_bx" style="display: flex; align-items: center; justify-content: flex-end;">
                            <p
                                style="
                                    margin: 0px;
                                    font-size: 18px;
                                    font-weight: 500;
                                    color: #000;

                                    width: 50%;
                                    text-align: right;
                                "
                            >
                                Inv No:-
                            </p>
                            <span style="margin: 0px; width: 26%; text-align: right;">TDS/200701</span>
                        </div>
                    </div>
                    <!---end date box-->
                    <!----despercipetion div start-->
                    <div class="discr_table" style="margin-top: 19px; display: flex; justify-content: space-between; align-items: stretch; border: 1px solid #000;">
                        <div class="th_discription" style="width: 70%; border-right: 1px solid #000;">
                            <h2 style="margin: 0px; font-size: 17px; text-transform: capitalize; font-weight: 500; text-align: center; background: #dfa601; line-height: normal; border-bottom: 1px solid #000; padding: 5px;">
                                description
                            </h2>
                            <p style="margin: 0px; text-align: center; padding-top: 10px; font-size: 14px; font-weight: 500;">Week: <span>july 15-24,2020</span></p>
                            <p style="margin: 0px; color: #000; font-size: 16px; font-weight: 500; text-align: center; margin-top: 10px;">
                                Details
                            </p>
                            <div class="table" style="padding: 0 10px; margin-top: 6px;">
                                <table style="width: 100%; border-collapse: collapse; padding: 0 29px; vertical-align: middle;">
                                    <tr>
                                        <th style="font-size: 16px; font-weight: 500; text-align: center; border: 1px solid #000;">
                                            Kilometers
                                        </th>
                                        <th style="font-size: 16px; font-weight: 500; text-align: center; border: 1px solid #000;">
                                            Qty
                                        </th>
                                        <th style="font-size: 16px; font-weight: 500; text-align: center; border: 1px solid #000;">
                                            Rate
                                        </th>
                                        <th style="font-size: 16px; font-weight: 500; text-align: center; border: 1px solid #000;">
                                            Total
                                        </th>
                                    </tr>
                                    <!-----start table table data-->
                                    <tr style="border: 1px solid #000;">
                                        <td style="border-right: 1px solid #000; border-top: unset;">
                                            0.8 KM
                                        </td>
                                        <td style="border-right: 1px solid #000; border-top: unset;">
                                            10.00
                                        </td>
                                        <td style="border-right: 1px solid #000; border-top: unset;">
                                            10.00
                                        </td>
                                        <td style="border-top: unset;">950.00</td>
                                    </tr>
                                    <tr style="border: 1px solid #000;">
                                        <td style="border-right: 1px solid #000; border-top: unset;">
                                            0.8 KM
                                        </td>
                                        <td style="border-right: 1px solid #000; border-top: unset;">
                                            10.00
                                        </td>
                                        <td style="border-right: 1px solid #000; border-top: unset;">
                                            10.00
                                        </td>
                                        <td style="border-top: unset;">950.00</td>
                                    </tr>
                                    <tr style="border: 1px solid #000;">
                                        <td style="border-right: 1px solid #000; border-top: unset;">
                                            0.8 KM
                                        </td>
                                        <td style="border-right: 1px solid #000; border-top: unset;">
                                            10.00
                                        </td>
                                        <td style="border-right: 1px solid #000; border-top: unset;">
                                            950.00
                                        </td>
                                        <td style="border-right: 1px solid #000; border-top: unset;">
                                            950.00
                                        </td>
                                    </tr>
                                    <tr style="border: 1px solid #000;">
                                        <td colspan="3" style="border-right: 1px solid #000; border-top: unset; font-weight: 700; font-size: 15px;">
                                            Total
                                        </td>
                                        <td style="border-top: unset; font-weight: 700; font-size: 15px;">
                                            3,245.60
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <h2 style="margin: 0px; font-size: 16px; text-align: center; background: #dfa601; text-transform: capitalize; padding: 6px 0; font-weight: 700;">
                                Total Amount (AED)
                            </h2>
                        </div>
                        <div class="th_amount" style="width: 30%; display: flex; flex-direction: column; width: 100%; justify-content: space-between;">
                            <div style="width: 100%; text-align: center;">
                                <h2 style="margin: 0px; font-size: 17px; text-transform: capitalize; font-weight: 500; text-align: center; background: #dfa601; line-height: normal; width: 100%; border-bottom: 1px solid #000; padding: 5px;">
                                    Amount (AED)
                                </h2>
                                <p style="margin: 0px; font-size: 16px; font-weight: 600; padding-top: 9px;">
                                    3,234
                                </p>
                            </div>
                            <h2 style="margin: 0px; font-size: 16px; text-align: center; background: #dfa601; text-transform: capitalize; padding: 6px 0; font-weight: 700;">
                                3,234
                            </h2>
                        </div>
                    </div>

                    <!----despercipetion div end-->
                </section>

                <!---start dram-->
                <p style="font-size: 14px; font-weight: 500; color: #000; margin: 2px 0;">
                    Dirhms three thousand Two Hundered Fifty
                </p>

                <div style="margin-top: 20px;">
                    <p style="margin: 0px; font-size: 18px; text-transform: capitalize; font-weight: 500; padding-left: 10px; font-weight: 500;">
                        Bank Details :-
                    </p>
                    <p style="margin: 0px; font-weight: 600; font-size: 16px; line-height: 30px; font-weight: 400;">
                        TROT Drive technology sevices
                    </p>
                    <p style="margin: 0px; color: #000; font-size: 15px; line-height: 28px; font-weight: 400;">Bank : <span>Rak Bank</span></p>
                    <p style="margin: 0px; color: #000; font-size: 15px; line-height: 28px; font-weight: 400;">Account # : <span>123456789</span></p>
                    <p style="margin: 0px; color: #000; font-size: 15px; line-height: 28px; font-weight: 400;">IBAN : <span>AE62 0400 0123 12354</span></p>
                    <p style="margin: 0px; color: #000; font-size: 15px; line-height: 28px; font-weight: 400;">Swift code : <span>Jhon</span></p>
                </div>
                <div class="company_seal" style="margin-top: 18px;">
                    <p>Plese pay this invioce within2 days of recipt of the Same</p>
                    <div class="com_div" style="display: flex; justify-content: space-between; margin-top: 60px;">
                        <div class="item1" style="width: 45%;">
                            <div class="com_seal_img">
                                <figure></figure>
                            </div>
                            <p style="margin: 0px; border-top: 1px solid #000; text-transform: capitalize; text-align: center; font-size: 16px;">
                                Company Seal
                            </p>
                        </div>
                        <div class="item1" style="width: 45%;">
                            <div class="com_seal_img">
                                <figure></figure>
                            </div>
                            <p style="margin: 0px; border-top: 1px solid #000; text-transform: capitalize; text-align: center; font-size: 16px;">
                                Recevier Sign With Seal
                            </p>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 40px; display: flex; justify-content: center; align-items: center;">
                    <p style="margin: 0px; font-size: 15px; padding-left: 8px;">
                        102565546
                    </p>
                    <p style="margin: 0px; font-size: 15px; padding-left: 8px;">
                        info@trotdriver.com
                    </p>
                    <p style="margin: 0px; font-size: 15px; padding-left: 8px;">
                        <a href="##" style="color: #000;">www.trotdrive.com</a>
                    </p>
                </div>
                <div style="text-align: center;">
                    <p style="margin: 0px; font-size: 15px; padding-left: 8px;">
                        802,Dusseldor Business Point,Al Barsha,Dubai-UAE
                    </p>
                </div>
            </div>
            <!---end conten class padding-->
        </div>
    </body>
</html>
